@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @keyframes color-animation {
    0% { color: #d21313; }  /* Red */
     /* Yellow */
    50% { color: #ad3555; } /* Green */
     /* Blue */
    100% { color: #36e3e3; } /* Back to Red */
  }
  
  .animated-code {
    animation: color-animation 5s infinite linear;
  }
  
  